<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.net>
    <mailSettings>
      <smtp from="yourMail">
        <network host="smtp.gmail.com" port="587" userName="yourMail" password="yourPassword" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net> 
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>